[submodule "site/quickstart/archetypes/themes/ananke"]
	path = site/quickstart/archetypes/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "site/quickstart/themes/ananke"]
	path = site/quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
